# environment variables
.env
backend/.env

# connection string samples
backenc/sample.txt
sample.txt

# python
backend/venv/
venv/
__pycache__/
*.pyc
*.pyo

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# seed script 
backend/seed.py

node_modules/
project-docs/
